<mat-dialog-content class="mat-typography" style="min-width: 280px">
  <h1 class="text-center"> {{ "¿ Desea eliminar " + title + " ?" }} </h1>
  <div class="d-flex w-100 justify-content-around align-items-center">
    <!-- <button class="btn btn-danger w-50 mb-1" (click)="deleteElem()">Eliminar</button> -->
    <button *ngIf="!loading" class="btn btn-danger w-50 mb-1" (click)="deleteElem()">
      <span> Eliminar </span>
    </button>
    <button *ngIf="loading" class="btn btn-danger w-50 mb-1" disabled>
      <span> Eliminando... </span>
      <div class="spinner-grow text-light spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
    <button *ngIf="!loading" class="btn btn-primary w-50 mb-1" (click)="cancel()">Cancelar</button>
    <button *ngIf="loading" class="btn btn-primary w-50 mb-1" disabled>Cancelar</button>
  </div>
</mat-dialog-content>