<mat-dialog-content class="mat-typography" style="min-width: 280px">
  <h1 class="text-center"> Datos de usuario </h1>
  <div [formGroup]="updateUserForm">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('name')]" placeholder="Nombre" formControlName="name">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('surname')]" placeholder="Apellido" formControlName="surname">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('employment')]" placeholder="Empleo" formControlName="employment">
  </div>
  <button *ngIf="!loading" class="btn btn-secondary w-100 mb-1" (click)="updateUser()">
    <span> Modificar </span>
  </button>
  <button *ngIf="loading" class="btn btn-secondary w-100 mb-1" disabled>
    <span> Modificando... </span>
    <div class="spinner-grow text-light spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </button>
</mat-dialog-content>