<input
  type="file"
  id="file"
  (change)="addDoc($event)"
  value="Añadir Foto"
/>
<div class="d-flex justify-content-center align-items-center upload">
  <label *ngIf="!loading" class="d-flex justify-content-center align-items-center" for="file" style="cursor: pointer;">
    <i class="fas fa-cloud-arrow-up fa-2x"></i>
  </label>
  <label *ngIf="loading" class="d-flex justify-content-center align-items-center" disabled>
    <div class="spinner-grow text-light spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </label>
</div>