<div class="skill">
    <mat-progress-spinner mode="determinate" [diameter]="140" [value]="skill.level" style="position: relative">
    </mat-progress-spinner>
    <mat-progress-spinner mode="determinate" [diameter]="140" [value]="100" style="position: absolute; top: 0; opacity: 0.3;">
    </mat-progress-spinner>
    <div class="skill-position">
        <strong class="skill-value">{{ skill.level + "" + "%" }}</strong>
    </div>
    <div class="button-position d-flex flex-column justify-content-around h-100">
        <app-icon-button *ngIf="showButtons" [icon]="'fa-pen'" (click)="openDialog()"></app-icon-button>
        <app-icon-button *ngIf="showButtons" [icon]="'fa-xmark'" (click)="openDelete()"></app-icon-button>
    </div>
    <strong class="skill-text">{{ skill.name }}</strong>
</div>




