

.skill{
    position: relative;

    .skill-position{
        position: absolute;
        top: 42px;
        right: 24px;
        
        .skill-value{
            font-size: 35px;
        }
    }

    .button-position{
        position: absolute;
        top: -13px;
        right: -9px;
    }

    .skill-text{
        font-size: large;
    }

}

.skill ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #54cba2;
}