<mat-dialog-content class="mat-typography" style="min-width: 280px">
  <h1 class="text-center"> Datos de usuario </h1>
  <div [formGroup]="updateAboutMeForm">
    <textarea [ngClass]="['form-control', 'mb-2', controlField('description')]" placeholder="Descripción" rows="3" formControlName="description"></textarea>
  </div>
  <button *ngIf="!loading" class="btn btn-secondary w-100 mb-1" (click)="updateUser()">
    <span> Modificar </span>
  </button>
  <button *ngIf="loading" class="btn btn-secondary w-100 mb-1" disabled>
    <span> Modificando... </span>
    <div class="spinner-grow text-light spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </button>
</mat-dialog-content>