<div class="mb-4">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="d-flex justify-content-between align-items-center" >
            <h2>
              {{ project.title }}
            </h2>
            <div class="d-flex justify-content-between align-items-center separated">
              <app-icon-button *ngIf="showButtons" [icon]="'fa-pen'" (click)="openDialog()"></app-icon-button>
              <app-icon-button *ngIf="showButtons" [icon]="'fa-xmark'" (click)="openDelete()"></app-icon-button>
            </div>
          </div>
          <h6>
            {{ project.description }}
          </h6>
          <!-- <button class="btn" style="background-color: #20c997" [href]="project.url"> <strong style="color: black">Link to evidence</strong> </button> -->
          <div class="btn btn-primary" style="background-color: #20c997">
            <a [href]="project.url">
              <strong style="color: black">Link to evidence</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>