<mat-dialog-content class="mat-typography" style="min-width: 280px">
  <h1 class="text-center"> Datos de educación </h1>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="image" [src]="imgPath + imgSelected">
    <input
      type="file"
      id="fileEdu"
      (change)="addImage($event)"
      value="Añadir Foto"
    />
    <div class="d-flex justify-content-center align-items-center mt-2 mb-2">
      <label *ngIf="!imgLoading" class="btn btn-primary d-flex justify-content-around align-items-center" for="fileEdu" style="cursor: pointer;">
        <span> Subir imagen </span>
        <i class="fas fa-cloud-arrow-up" style="margin-left: 5px"></i>
      </label>
      <label *ngIf="imgLoading" class="btn btn-primary d-flex justify-content-around align-items-center">
        <span> Subiendo... </span>
        <div class="spinner-grow text-light spinner-grow-sm" style="margin-left: 5px" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </label>
    </div>
  </div>
  <div [formGroup]="updateEducationForm">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('title')]" placeholder="Título" formControlName="title">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('institution')]" placeholder="Nombre de la institución" formControlName="institution">
    <input type="text" [ngClass]="['form-control', 'mb-2', controlField('career')]" placeholder="Carrera" formControlName="career">
    <input type="number" [ngClass]="['form-control', 'mb-2', controlField('average')]" placeholder="Promedio" formControlName="average">
    <input type="number" [ngClass]="['form-control', 'mb-2', controlField('start_year')]" placeholder="Año de inicio" formControlName="start_year">
    <input type="number" [ngClass]="['form-control', 'mb-2', controlField('end_year')]" placeholder="Año de finalización" formControlName="end_year">
  </div>
  <button *ngIf="!loading" class="btn btn-secondary w-100 mb-1" (click)="updateEducation()">
    <span> {{ buttonTitle }} </span>
  </button>
  <button *ngIf="loading" class="btn btn-secondary w-100 mb-1" disabled>
    <span> {{ buttonTitle + "..." }} </span>
    <div class="spinner-grow text-light spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </button>
</mat-dialog-content>