hr{
    margin-left: 20%;
    margin-right: 20%;
    // margin-bottom: 0;
    // background-color: #84b4df;
}

.image{
    height: 125px;
    width: 125px;
    border-radius: 10px;
    object-fit: cover;
}

.separated{
    width: 9%;
}

.tristeza2{
    display: none;
}

@media (max-width: 576px) {
    .separated {
        width: 28%;
    }

    .tristeza {
        display: none
    }

    .tristeza2{
        display: inherit;
    }
}

// @media (max-width: 576px) {
// }
