<div class="mb-4">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="education.image" class="col-md-2 col-4 d-flex justify-content-center align-items-center">
          <img class="image" [src]="imgPath + education.image">
        </div>
        <div [ngClass]="[(education.image) ? 'col-md-10 col-8' : 'col-md-12 col-12']">
          <div class="d-flex justify-content-between align-items-center" >
            <h2>
              {{ education.title }}
            </h2>
            <div class="d-flex justify-content-between align-items-center separated">
              <app-icon-button *ngIf="showButtons" [icon]="'fa-pen'" (click)="openDialog()"></app-icon-button>
              <app-icon-button *ngIf="showButtons" [icon]="'fa-xmark'" (click)="openDelete()"></app-icon-button>
            </div>
          </div>
          <h6 class="tristeza">
            {{ education.career + " - " +  education.institution }}
            <h6 class="tristeza">
              {{ "Desde: " + education.start_year + " - " +  "hasta: " + education.end_year }}
            </h6>
            <h6 class="tristeza2">
              {{ "Desde: " + education.start_year }}
              <h6>
                {{ "Hasta: " + education.end_year }}
              </h6>
            </h6>
          </h6>
          <h6 class="tristeza2">
            {{ education.career }}
            <h6>
              {{ education.institution }}
              <h6 class="tristeza">
                {{ "Desde: " + education.start_year + " - " +  "hasta: " + education.end_year }}
              </h6>
              <h6 class="tristeza2">
                {{ "Desde: " + education.start_year }}
                <h6>
                  {{ "Hasta: " + education.end_year }}
                </h6>
              </h6>
            </h6>
          </h6>
          <h6>
            {{ "Promedio: " + education.average  }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>